body {
 background-color: white;
 background-image: url(images/bg.jpg);
 background-attachment: fixed;

 font-family: sans-serif;
 font-size: 11pt;
 line-height: 1.15;
}

h1, h2, h3, h4, h5, h6 {
 margin: 0px;
 padding-top: 10px;
 padding-bottom: 4px;
}

h2 {
 text-align: center;
}

hr {
 width: 60%;
}

div.header_section {
 background-color: #EEFAFE;
 border: 1px solid black;
 padding: 3px;
 margin: 20px;
}

div.index_rhs_cont {
 float: right;
 margin: 10px;
 width: 30%;
}

div.index_rhs {
 background: white;
 border: 1px solid black;
 padding: 1px 10px 1px 10px;
 margin: 10px;
}

table.invisible {
 width: 100%;
 text-align: center;
}

table.invisible td {
 padding: 2px 8px 2px 8px;
}

table.simple_table {
 border: 1px solid black;
 border-collapse: collapse;
}

table.simple_table td, table.simple_table th {
 border: 1px solid black;
 padding: 4px;
 background-color: white;
}

table.browse_table {
 border: 1px solid black;
 border-collapse: collapse;
}

table.browse_table td, table.browse_table th {
 border: 1px solid black;
 padding: 4px 30px 4px 20px;
 vertical-align: top;
 background-color: white;
}

.main_section {
 background-color: #FFFFF4;
 border: 1px solid black;
 padding: 5px 15px 0px 15px;
 margin: 10px;
}

p.link_list {
 text-align: center;
}

p.disclaimer {
 font-size: 9pt;
 font-weight: bold;
 text-align: center;
}

.noborder {
 border-style: none;
}
